{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% if not title %}Si alvin online{% endif %}{{title}}</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}">
</head>
<body>
	{% include "snippets/navbar.html" %}
<div class="container">
	{% block maincontent %}
		
	{% endblock maincontent %}
</div>

<div class="container card bg-light shadow text-center mt-5">
	<strong>Desain By <a href="https://fb.me/BatasibukProject" class="btn btn-outline-danger">Batasibuk Project</a></strong>
</div>
<script type="text/javascript" src="{% static "jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "popper.min.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap.min.js" %}"></script>

{% block costum_js %}
	
{% endblock costum_js %}

</body>
</html>